@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.input-field {
  @apply h-10 w-full rounded-md border px-3 transition-all duration-150 focus:ring-2 focus:outline-none sm:w-80 md:w-96;
}

.form-content {
  @apply w-full max-w-md space-y-5 rounded bg-white p-6 shadow-md;
}

.button-primary {
  @apply h-10 w-full rounded-md bg-blue-600 text-white transition-colors duration-150 hover:bg-blue-700;
}
